body {
  background-color: #212529;
}

section {
  margin-top: 0;
  padding-top: 5%;

}

hr {
  height: .3rem !important;
  width: 50% !important;
  margin: 45px auto !important;
  opacity: 1 !important;
  color: black !important;
}

#title{
  padding-top: 2%;
}
#title, #info, #uncastillera, #socios, #vision {
  background-color: white;
}

#viso, #open {
  background-color: #212529;
  color: white !important;
}

#uncastillera, #socios, #vision {
  color: black !important;
}

.white{
  color: white !important;
}
/*Navigation bar -----------------------------------*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-logo{
  height: 250px;
  /*border: 5px solid #212529;*/
}
.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 0;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Amatic SC', cursive;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.container-fluid-nav {
  padding: 0 15% ;
}

.container-fluid {
  margin-top: 250px;
  padding-left: 15%;
  padding-right: 15%
  /*padding: 3% 0;*/
}


/* home page --------------------------------------------------*/

.texto-title{
  font: 400 4rem 'Special Elite'
}

.timetable {
  font: 400 1rem "Montserrat";
}

.landmark {
  color: red;
  font-weight: 800;
}


/*count down ------------------------------------------------------------*/
.count-down{
  margin-bottom:  40px
}
.count{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat'
}

.days{
  font-size: 2rem;
  font-weight:500;
  font-family: "Montserrat";
  line-height: .5;
}


/*Boton registro --------------------------------------------------------------*/
.fecha-registros{
font-size: 1.5rem;
  font-family: 'Amatic SC';
}

.boton-registro {
  width: 200px !important;
  margin: 30px auto;
  font: 600 2rem 'Amatic SC';
  background-color: black;
  border-color: black;

}


/*Carreras ----------------------------------------------------------------*/
.container-epic-sum {
  font: 600 2rem 'Amatic SC';
}

.epic-title {
  font-size: 5rem;
  font-family: 'Amatic SC';
}

.container-epic-stats {
  margin-top: 10%;
}

.diccionario, .info-item{
  line-height: 1;
}

.fake-strava{
  width: 554px;
  min-width: 250px;
  max-width: 100%;
  height: 500px;
  display: block;
}

.fas{
  font-size: 3rem;
}

/*vision-------------------------------------*/
.parrafo{

  font-family: 'Montserrat'

}

/* socios ---------------------------------*/
.container-logos2{
  margin:auto;
}

.logo{
  max-height: 150px;
}



/*Media --------------------------------------*/

@media (max-width: 768px) {
#title{
  margin-top: 80px;
}

section{
  padding-top: 10%;
}

  .logo-pulpo{
    width: 30%;
    height: 30%;
  }
}

@media (max-width: 600px) {
section{
  padding-top: 10%;
}

.navbar-logo{
  height: 200px;

}

.container-fluid-nav{
  padding-left: 0;
  padding-right: 15%;
}

.container-fluid {
margin-top: 150px;
padding-left: 4%;
padding-right: 4%;
/*  padding: 3% 3%;*/
}

.extra-margin{

  margin-top:100px;
}

.test{
  margin-top: 150px !important;
}
.timetable{
  text-align: left;
  margin-bottom: 30px;
}

.diccionario, .info-item{
  line-height: 1;
}
.fake-strava{
  height: 400px;
}

.texto-title{
  font-size: 2rem;
}
  .logo-pulpo{
    width: 50%;
    height: 50%;
  }
}
